.tables {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    text-align: left;
    border: 1px solid var(--table-border);
    border-radius: 10px;
    overflow: hidden;
    color: var(--text-color);
    background: var(--table-bg);
}

.tables th,
.tables td {
    border: 1px solid var(--table-border);
    padding: 8px;
    background: var(--table-bg);
    color: var(--text-color);
}

.tables th {
    font-weight: bold;
    background: var(--card-bg);
}