.tables {
    border-collapse: separate; /* Use 'separate' to apply border radius */
        border-spacing: 0; /* Remove spacing between cells */
        width: 100%;
        text-align: left;
        border: 1px solid #ddd;
        border-radius: 10px; /* Rounded corners for the table */
        overflow: hidden;
        color: var(--text-color);
}
.tables th,
.tables td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tables th {
    font-weight: bold;
}