.reservation-confirmation {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .confirmation-container,
  .payment-container {
    margin-top: 5px;
    flex: 1 1 45%;
    background: rgba(0,0,0,0.4);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
  }

  input,
  textarea,
  select {
    color: #111 !important;
    background: #fff !important;
  }

}
